{
	"token": "<discord bot token>",
	"nickname": "odmieniec",

	"textDatabaseDir": "<path>",
	"textDatabaseFilename": "messages",
	"doBackups": false,
	"saveEveryMinutes": 120,

	"homeChannel": "jaskinia-odmieńca",
	"ignoredChannels": [
		"disboard"
	],

	"numOfBaseWords": 2,
	"maxWords": 30,
	"maxWordJumps": 30,
	"chanceToJump": 1,
	"chanceToTalk": 25,
	"minRequestsToRandomTalk": 20

	"predefinedReactions": [
	]
}
